
<!DOCTYPE html>
<html>
<head>
    <meta charset="gbk">
  <link rel="dns-prefetch" href="//g.tbcdn.cn">
  <link rel="dns-prefetch" href="//g.alicdn.com">
  <link rel="dns-prefetch" href="//img.alicdn.com">
  <link rel="dns-prefetch" href="//gtms01.alicdn.com">
  <link rel="dns-prefetch" href="//gtms02.alicdn.com">
  <link rel="dns-prefetch" href="//gtms03.alicdn.com">
  <link rel="dns-prefetch" href="//gtms04.alicdn.com">
  <link rel="dns-prefetch" href="//log.mmstat.com">
  <link rel="dns-prefetch" href="//p.tanx.com">
  <link rel="dns-prefetch" href="//i.mmcdn.cn">
  <link rel="dns-prefetch" href="//delta.taobao.com">
  <title>淘宝网 - 淘！我喜欢</title>
  <meta name="description" content="淘宝网 - 亚洲最大、最安全的网上交易平台，提供各类服饰、美容、家居、数码、话费/点卡充值… 8亿优质特价商品，同时提供担保交易(先收货后付款)、先行赔付、假一赔三、七天无理由退换货、数码免费维修等安全交易保障服务，让你全面安心享受网上购物乐趣！">
  <meta name="data-spm" content="1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="//img.alicdn.com/tps/i3/T1OjaVFl4dXXa.JOZB-114-114.png" rel="apple-touch-icon-precomposed">
  <link rel="stylesheet" href="//g.alicdn.com/??tb/global/3.3.35/global-min.css?t=20150414">
  <link rel="stylesheet" href="//g.alicdn.com/tb/tb-fp/20.0.5/index-e-min.css?t=20150414">
  <script src="//g.alicdn.com/kissy/k/1.4.0/seed-min.js?t=20150414" charset="utf-8" data-config="{combine:true}"></script>
  <script>KISSY.config({packages:[{name:'fp',base:'//g.alicdn.com/tb/tb-fp/20.0.5',ignorePackageNameInUri: true}]});window.g_config = {appId: 6,startDate: new Date()};</script>
  <script>var __tbSwitchers_={"birthday":{"on":1,"options":""},"tanx":{"on":1,"options":"{\"rate\":0.5,\"a2\":{\"on\":0,\"rate\":0}}"},"apollon":{"on":1,"options":"{\"rate\":1}"},"hotword":{"on":1,"options":"{\"rate\":0.1}"},"monitor":{"on":1,"options":"{\"rate\": 1}"}};</script>
</head>
<base target="_blank">
<body data-spm="7274553"><script>
with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","category=&userid=874354292&aplus&yunid=&CAk3FAezoLo&asid=AAHTez9VVoWLlrR9jGM=",id="tb-beacon-aplus",src=(location>"https"?"//g":"//g")+".alicdn.com/alilog/mlog/aplus_v2.js")
</script>

<div id="J_SiteNav" class="site-nav">
  <div id="J_SiteNavBd" class="site-nav-bd">
    <ul id="J_SiteNavBdL" class="site-nav-bd-l" data-spm="1997487525"></ul>
    <ul id="J_SiteNavBdR" class="site-nav-bd-r" data-spm="1997519997"></ul>
  </div>
</div>
<!-- --><!-- 全网顶通 --><!-- 首页顶通 --><div id="J_Wrap" class="wrap">
  <div class="screen-hd row">
  <div id="J_HdHead" class="head">
    <div class="head-wrap">
      <div id="J_Search" class="search" role="search" data-spm="1997520829">
  <div class="search-wrap">
    <div class="search-hd">
      <div class="search-tips">
        <a href="//list.taobao.com/browse/ad_search.htm">
          高级<br>搜索
        </a>
      </div>
    </div>
    <div class="search-bd">
      <div id="J_SearchTab" class="search-triggers search-tab-header">
        <ul class="ks-switchable-nav">
          <li class="J_SearchTab selected goods-search-tab" data-searchtype="item" data-defaultpage="nogo" data-spm-click="gostr=/tbindex;locaid=d10;name=宝贝">宝贝</li>
          <li class="J_SearchTab tmall-search-tab" data-searchtype="mall" data-tmall="true" data-spm-click="gostr=/tbindex;locaid=d11;name=天猫"  data-action="//list.tmall.com/search_product.htm">天猫</li>
          <li class="J_SearchTab shop-search-tab" data-searchtype="shop"  data-spm-click="gostr=/tbindex;locaid=d12;name=店铺" data-action="//shopsearch.taobao.com/browse/shop_search.htm">店铺</li>
        </ul>
        <div class="search-tab-icon"><i><em></em><span></span></i></div>
      </div>
      <div class="search-panel search-hp-panel ks-switchable-content J_SearchPanel">
        <form target="_top" action="//s.taobao.com/search" name="search" id="J_TSearchForm" class="search-panel-focused">
          <div class="search-button">
            <button class="btn-search" type="submit" data-spm-click="gostr=/tbindex;locaid=d13"></button>
          </div>
          <div class="search-panel-fields search-hp-fields search-common-panel">
            <div class="J_TbSearchContent J_TbPlaceholder J_Placeholder"><label for="q" data-searchtype-item="<span style='display:none;'>酸奶机</span>动手制作放心酸奶 “酸奶机”" data-searchtype-shop="<span style='display:none;'></span>" data-oeid=""><span style='display:none;'>酸奶机</span>动手制作放心酸奶 “酸奶机”</label></div>
            <div class="hidden J_TmallSearchContent J_Placeholder J_TmallPlaceholder"><label for="q"></label></div>
            <input id="q" name="q" aria-label="请输入搜索文字" accesskey="s" autofocus="true" autocomplete="off">
            <i class="tb-fp-iconfont" id="J_SearchIcon">&#xe613;</i>
          </div>
          <input type="hidden" name="commend" value="all">
          <input type="hidden" name="ssid" value="s5-e" autocomplete="off">
          <input type="hidden" name="search_type" value="item" autocomplete="off">
          <input type="hidden" name="sourceId" value="tb.index">
          <input type="hidden" name="spm" value="">
          <input type="hidden" name="initiative_id" value="tbindexz_20150428">
          <!--[if lt IE 9]>
          <s class="search-fix search-fix-panellt"></s><s class="search-fix search-fix-panellb"></s>
          <![endif]-->
        </form>
      </div>
    </div>
    <div id="J_SearchFt" class="search-ft">
      <div class="J_TbSearchContent J_HotWord" data-spm="1997520241"><div class="search-hots">
  <div class="search-hots-lines">
    <div class="search-hots-fline" data-spm-ab="1">
    <a href="//s.taobao.com/search?q=%E8%BF%9E%E8%A1%A3%E8%A3%99&refpid=420460_1006&source=tbsy&style=grid&tab=all" class="h">时尚连衣裙</a> <a href="//s.taobao.com/search?q=%E5%A6%88%E5%A6%88%E8%A3%85&refpid=420461_1006&source=tbsy&style=grid&tab=all">妈妈装</a> <a href="//s.taobao.com/search?q=%C5%AE%B3%C4%C9%C0&refpid=420462_1006&source=tbsy&style=grid&tab=all">女士衬衫</a> <a href="//s.taobao.com/search?q=%E8%9A%8A%E5%B8%90&refpid=420463_1006&source=tbsy&style=grid&tab=all">蚊帐</a> <a href="//s.taobao.com/search?q=%B7%E7%D2%C2&refpid=420464_1006&source=tbsy&style=grid&tab=all">风衣</a> <a href="//s.taobao.com/search?q=t%E6%81%A4&js=1&refpid=420465_1006&source=tbsy&style=grid&tab=all">时尚t恤</a> <a href="//s.taobao.com/search?q=%B5%A5%D0%AC&refpid=420466_1006&source=tbsy&style=grid&tab=all">女鞋</a> <a href="//s.taobao.com/search?q=%C5%AE%B0%FC&refpid=420467_1006&source=tbsy&style=grid&tab=all">流行女包</a> <a href="//s.taobao.com/search?q=%E7%94%B7%E9%9E%8B&refpid=430144_1006&source=tbsy&style=grid&tab=all">新款男鞋</a> <a href="//s.taobao.com/search?q=%E5%A4%B9%E5%85%8B&refpid=430145_1006&source=tbsy&style=grid&tab=all">男装夹克</a> <a href="//s.taobao.com/search?q=%B4%F2%B5%D7%BF%E3&refpid=430146_1006&source=tbsy&style=grid&tab=all">打底裤</a> <a href="//s.taobao.com/search?q=%E5%87%89%E9%9E%8B&refpid=430147_1006&source=tbsy&style=grid&tab=all">凉鞋</a> <a href="//s.taobao.com/search?q=%B4%F2%B5%D7%C9%C0&refpid=430148_1006&source=tbsy&style=grid&tab=all">打底衫</a> <a href="//s.taobao.com/search?q=%CB%AF%D2%C2&refpid=430149_1006&source=tbsy&style=grid&tab=all">睡衣</a> <a href="//s.taobao.com/search?q=%C9%B3%B7%A2%B5%E6&refpid=430150_1006&source=tbsy&style=grid&tab=all">沙发垫</a> 
    </div>
    <div class="search-hots-sline" data-spm-ab="2">
    
    </div>
  </div>
  <a class="more more-with-border" href="//top.taobao.com/?topid=home">更多<i><em></em><span></span></i></a>
</div></div>
      <div class="J_TmallSearchContent J_HotWord J_TmallHotWord tmall-hot-word" data-spm="40"></div>
    </div>
  </div>
</div>      <div class="logo s-logo" data-spm="1997517345">
  <h1 class="J_Ald J_Ald_544" data-ald="544"><a href="//www.taobao.com" target="_self" class="logo-bd">淘宝网</a></h1>
  <h2><a href="//www.taobao.com" target="_self">淘宝网</a></h2>
</div>    <div id="J_Qr" class="qr" data-spm="1997561957"></div>    </div>
  </div>
  <div class="cont">
    <div class="main">
      <div id="J_Nav" class="nav" data-spm="1997517361">
  <ul class="nav-hd">
  
         <li><a href="http://www.tmall.com/?spm=1.7281509.a214dau.1">天猫</a></li>         <li><a href="http://ju.taobao.com/?spm=1.7281509.a214dau.2">聚划算</a></li>         <li><a href="http://chaoshi.tmall.com/?spm=1.7281509.a214dau.3">超市</a></li>      
</ul>
<ul class="nav-bd"><li class="pipe">|</li>
  
        <li  ><a href="http://trip.taobao.com/?spm=1.7281509.a214dau.4">阿里旅行</a></li>
        <li  ><a href="http://sf.taobao.com/?spm=1.7281509.a214dau.5">司法拍卖</a></li>
        <li  ><a href="http://www.etao.com/?spm=1.7281509.a214dau.6&tb_lm_id=t_zdh">一淘</a></li>
        <li  ><a href="http://3c.tmall.com/?spm=1.7281509.a214dau.7">电器城</a></li>
        <li  ><a href="http://www.taobao.com/go/chn/hitao/top.php?spm=1.7281509.a214dau.8">美妆闪购</a></li>
        <li  ><a href="http://yun.taobao.com/?spm=1.7281509.a214dau.9">阿里小智</a></li>
        <li  ><a href="http://china.chi.taobao.com/?spm=1.7281509.a214dau.10">特色中国</a></li>
      
</ul>
<ul class="nav-ft">
  
    <li id="J_NavGift" class="nav-gift" data-img="http://gtms04.alicdn.com/tps/i4/TB1IuDjHFXXXXataXXXare4IVXX-80-30.gif" data-url="http://gushi.taobao.com/" data-gift-img="http://gtms01.alicdn.com/tps/i1/T12vKuFsFmXXb0fcHr-88-28.gif" data-gift-url="http://new.taobao.com/?ad_id=&am_id=1301066374b3da59cda2&cm_id=&pm_id="  data-spm="1997520349"><a href="javascript:;"><img src="//g.alicdn.com/s.gif"></a></li>
  
  
        <li class="nav-ft-text" data-spm="1997563045"><a href="http://www.taobao.com/go/act/315/xb_20100707.php?spm=1.7281509.a214dau.11&&TBG=42685.203542.2&ad_id=&am_id=1300268931aef04f0cdc&cm_id=&pm_id=#rushi">消费者保障</a></li>
      
</ul></div>      <div class="main-l">
        <div class="main-l-wrap">
          <div id="J_Promo" class="promo loading" data-spm="1997517397">
  <div class="promo-bd">
    <div class="J_TBDP mod J_DP_20140506001"></div>
    <div class="J_Tanx mod" data-id="mm_12852562_1778064_13670999">
      <a id="tanx-a-mm_12852562_1778064_13670999" class="hide J_TanxAd"></a>    </div>
    <div class="J_Tanx mod" data-id="mm_12852562_1778064_13674396">
      <a id="tanx-a-mm_12852562_1778064_13674396" class="hide J_TanxAd"></a>    </div>
    <div class="J_Tanx mod" data-id="mm_12852562_1778064_13672849">
      <a id="tanx-a-mm_12852562_1778064_13672849" class="hide J_TanxAd"></a>    </div>
    <div class="J_TBDP mod J_DP_20140506002"></div>
    <s class="J_Ald J_Ald_546" data-ald="546"></s>      </div>
  <div class="promo-ft">
    <div id="J_PromoOpt" class="promo-opt">
      <a href="javascript:;" class="J_Prev prev">
        <i class="s-prev"></i>
      </a>
      <a href="javascript:;" class="J_Next next">
        <i class="s-next"></i>
      </a>
    </div>
    <ul class="promo-nav"></ul>
  </div>
</div>          <div id="J_Tmall" class="tmall loading" data-spm="1997517401">
  <div class="tmall-bd">
      
  
  <div class="mod column-2 J_Ald_tt-1097039-36355 J_Ald" data-ald="tt-1097039-36355" data-spm="771">
  
      
                  <a href="http://subject.tmall.com/subject/subject.htm?spm=1.7277373.a214d9s.2&id=1700696&abbucket=&acm=tt-1097039-36355-1.1003.8.251002&aldid=251002&gccpm=2346936.600.2.subject-0&abtest=&scm=1003.8.tt-1097039-36355-1.OTHER_1430173785899_251002&header=4&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms04.alicdn.com/tps/i4/TB1jIGVHFXXXXcGXpXXc8PZ9XXX-130-200.png" alt="dell飞匣"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/buy1.php?spm=1.7277373.a214d9s.4&abbucket=&acm=tt-1097039-36355-2.1003.8.254861&aldid=254861&abtest=&scm=1003.8.tt-1097039-36355-2.OTHER_1428329859516_254861&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms03.alicdn.com/tps/i3/TB10xaaHFXXXXciXpXXc8PZ9XXX-130-200.png" alt="萌娃出游季"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/wanlitiaoyi.php%C2%A0?spm=1.7277373.a214d9s.6&abbucket=&acm=tt-1097039-36355-3.1003.8.253615&aldid=253615&abtest=&scm=1003.8.tt-1097039-36355-3.OTHER_1430635994096_253615&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms03.alicdn.com/tps/i3/TB1BCrlHFXXXXazXVXXc8PZ9XXX-130-200.png" alt="万里挑一1"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/wanlitiaoyi.php%C2%A0?spm=1.7277373.a214d9s.8&abbucket=&acm=tt-1097039-36355-4.1003.8.253616&aldid=253616&abtest=&scm=1003.8.tt-1097039-36355-4.OTHER_1429316329444_253616&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms04.alicdn.com/tps/i4/TB1NlDhHFXXXXaFaXXXc8PZ9XXX-130-200.png" alt="万里挑一2"></a>
              
      <div class="mod-b"><p class="b-1"></p><p class="b-2"></p><p class="b-3"></p></div>
  </div>

  
  <div class="mod column-3 J_Ald_tt-1097039-36356 J_Ald" data-ald="tt-1097039-36356" data-spm="772" data-goldlog="22">
  
      
                  <a href="http://www.tmall.com/go/market/promotion-act/shanghaichezhan-pc.php?spm=1.7277373.a214d9s.10&abbucket=&acm=tt-1097039-36356-1.1003.8.253683&aldid=253683&abtest=&scm=1003.8.tt-1097039-36356-1.OTHER_1428958996549_253683&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms03.alicdn.com/tps/i3/TB1Fk8AHFXXXXXPXpXXc8PZ9XXX-130-200.png" alt="上海车展"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/shanghaichezhan-pc.php?spm=1.7277373.a214d9s.12&abbucket=&acm=tt-1097039-36356-2.1003.8.253684&aldid=253684&abtest=&scm=1003.8.tt-1097039-36356-2.OTHER_1430115510543_253684&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms04.alicdn.com/tps/i4/TB1S9FtHFXXXXchXVXXc8PZ9XXX-130-200.png" alt="上海车展"></a>
                  <a href="http://www.tmall.com/wh/tmall/act/base/14020/buyerno1?spm=1.7277373.a214d9s.14&abbucket=&acm=tt-1097039-36356-3.1003.8.254106&aldid=254106&abtest=&scm=1003.8.tt-1097039-36356-3.OTHER_1431507453783_254106&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms01.alicdn.com/tps/i1/TB14imJHFXXXXX4aXXXc8PZ9XXX-130-200.png" alt="425天猫进口"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/haiyu.php?spm=1.7277373.a214d9s.16&abbucket=&acm=tt-1097039-36356-4.1003.8.253491&aldid=253491&abtest=&scm=1003.8.tt-1097039-36356-4.OTHER_1428026056812_253491&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://img01.taobaocdn.com/imgextra/i1/761178460/TB2LOZUcpXXXXbvXXXXXXXXXXXX_!!761178460.jpg" alt="全球海域捕捞"></a>
              
      <div class="mod-b"><p class="b-1"></p><p class="b-2"></p><p class="b-3"></p></div>
  </div>

  
  <div class="mod column-2 J_Ald_tt-1097039-36357 J_Ald" data-ald="tt-1097039-36357" data-spm="773" data-goldlog="23">
  
      
                  <a href="http://www.tmall.com/go/market/shuma/technology.php?spm=1.7277373.a214d9s.18&abbucket=&acm=tt-1097039-36357-1.1003.8.252215&aldid=252215&abtest=&scm=1003.8.tt-1097039-36357-1.OTHER_1428817030084_252215&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms01.alicdn.com/tps/i1/TB1EAGYHFXXXXbRXpXXc8PZ9XXX-130-200.png" alt="数码"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/51promotion.php?spm=1.7277373.a214d9s.20&abbucket=&acm=tt-1097039-36357-2.1003.8.252216&aldid=252216&abtest=&scm=1003.8.tt-1097039-36357-2.OTHER_1431250867783_252216&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms01.alicdn.com/tps/i1/TB1469OHFXXXXXyXVXXc8PZ9XXX-130-200.png" alt="数码"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/superday_4.php?spm=1.7277373.a214d9s.22&abbucket=&acm=tt-1097039-36357-3.1003.8.252483&aldid=252483&abtest=&scm=1003.8.tt-1097039-36357-3.OTHER_1429763466164_252483&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms02.alicdn.com/tps/i2/TB1tUePHFXXXXa.XFXXc8PZ9XXX-130-200.png" alt="月月双11"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/superday_4.php?spm=1.7277373.a214d9s.24&abbucket=&acm=tt-1097039-36357-4.1003.8.252484&aldid=252484&abtest=&scm=1003.8.tt-1097039-36357-4.OTHER_1430591456610_252484&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms01.alicdn.com/tps/i1/TB1oqaPHFXXXXbTXFXXc8PZ9XXX-130-200.png" alt="月月双11"></a>
              
      <div class="mod-b"><p class="b-1"></p><p class="b-2"></p><p class="b-3"></p></div>
  </div>

  
  <div class="mod column-4 J_Ald_tt-1097039-36358 J_Ald" data-ald="tt-1097039-36358" data-spm="774" data-goldlog="24">
  
      
                  <a href="http://www.tmall.com/go/market/promotion-act/nvzhuang828.php?spm=1.7277373.a214d9s.26&acm=tt-1097039-36358-1.1003.8.95419&uuid=95419&scm=1003.8.tt-1097039-36358-1.OTHER_1408319969479_95419&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms02.alicdn.com/tps/i2/TB1XJ7.FVXXXXaQXFXXy8jZ9XXX-130-200.jpg" alt="女装分会场"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/nvzhuang828.php?spm=1.7277373.a214d9s.28&acm=tt-1097039-36358-2.1003.8.95422&uuid=95422&scm=1003.8.tt-1097039-36358-2.OTHER_1407194982809_95422&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms01.alicdn.com/tps/i1/TB1c6lgGXXXXXciXXXXy8jZ9XXX-130-200.jpg" alt="女装分会场"></a>
                  <a href="http://www.tmall.com/go/market/promotion-act/tmallonly.php?spm=1.7277373.a214d9s.30&acm=tt-1097039-36358-3.1003.8.95519&uuid=95519&scm=1003.8.tt-1097039-36358-3.OTHER_1410282316788_95519&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms04.alicdn.com/tps/i4/TB1ZNNgGXXXXXcuXXXXc8PZ9XXX-130-200.png" alt="1"></a>
                  <a href="http://zhongqiu.tmall.com/?spm=1.7277373.a214d9s.32&acm=tt-1097039-36358-4.1003.8.95232&uuid=95232&scm=1003.8.tt-1097039-36358-4.OTHER_1407273810034_95232&pos=1" ><img src="//g.alicdn.com/s.gif" data-lazy="http://gtms02.alicdn.com/tps/i2/TB1doU6FVXXXXbqXVXXc8PZ9XXX-130-200.png" alt="中秋正式"></a>
              
      <div class="mod-b"><p class="b-1"></p><p class="b-2"></p><p class="b-3"></p></div>
  </div>      <div id="J_Ald" class="mod mod-b">
  <div class="mod-bd J_Ald_03014 J_Ald" data-ald="03014">
    
            <a href="//list.tmall.com/search_product.htm?brand=47342&scm=1003.5.03058.99&acm=03058.1003.0.0.47342_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/T1eYDyFfdbXXb1upjX.jpg" alt="CAMEL/骆驼">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=20439&scm=1003.5.03058.99&acm=03058.1003.0.0.20439_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/T1q0eDFd4eXXb1upjX.jpg" alt="PAMPERS/帮宝适">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=104356443&scm=1003.5.03058.99&acm=03058.1003.0.0.104356443_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i4/T1oa.kXa8hXXXQXDnq-90-45.png" alt="CHILDLIFE/童年时光">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=29515&scm=1003.5.03058.99&acm=03058.1003.0.0.29515_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i2/T1ouQYXltbXXXQXDnq-90-45.png" alt="ROMON/罗蒙">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=20020&scm=1003.5.03058.99&acm=03058.1003.0.0.20020_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/T1o2aWFc4dXXb1upjX.jpg" alt="CLARINS/娇韵诗">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=44610&scm=1003.5.03058.99&acm=03058.1003.0.0.44610_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i2/T1deC.XhhvXXXQXDnq-90-45.png" alt="STSAT/星期六">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=3437878&scm=1003.5.03058.99&acm=03058.1003.0.0.3437878_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i4/T1vtUYXbxbXXXQXDnq-90-45.png" alt="ARTKA">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=31888&scm=1003.5.03058.99&acm=03058.1003.0.0.31888_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i2/T1KsYVXndXXXXQXDnq-90-45.png" alt="NINEWEST/玖熙">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=41281&scm=1003.5.03058.99&acm=03058.1003.0.0.41281_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i3/T1utqAXdBUXXXXXXXX-90-45.jpg" alt="CHNT/正泰">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=3508031&scm=1003.5.03058.99&acm=03058.1003.0.0.3508031_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i1/T1VezWXaBeXXXQXDnq-90-45.png" alt="永高人">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=13587726&scm=1003.5.03058.99&acm=03058.1003.0.0.13587726_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i1/T19KfUXkheXXXQXDnq-90-45.png" alt="花笙记">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=3371894&scm=1003.5.03058.99&acm=03058.1003.0.0.3371894_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i2/T1UOmoXd8rXXXXXXXX-90-45.jpg" alt="PETRUS/柏翠">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=128616254&scm=1003.5.03058.99&acm=03058.1003.0.0.128616254_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/T1Z86AFXlbXXb1upjX.jpg" alt="JADO/捷渡">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=20580&scm=1003.5.03058.99&acm=03058.1003.0.0.20580_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i1/T1_5.YXa0bXXXQXDnq-90-45.png" alt="REEBOK/锐步">
      </a>
            <a href="//list.tmall.com/search_product.htm?brand=94140&scm=1003.5.03058.99&acm=03058.1003.0.0.94140_6" data-ald="true">
        <img src="//g.alicdn.com/s.gif" data-lazy="http://img.alicdn.com/bao/uploaded/i4/T1PgeoXmJOXXXXXXXX-90-45.jpg" alt="REJOICE/飘柔">
      </a>
          
  </div>
  <div class="mod-ft">
    <p class="mod-line-t"></p>
    <p class="mod-line-b"></p>
  </div>
</div>
      <div class="mod column-2 J_TanxWrapper tanx-wrapper">
          <a id="tanx-a-mm_12852562_1778064_22200723" class="hide J_TanxAd"></a>          <a id="tanx-a-mm_12852562_1778064_22198795" class="hide J_TanxAd"></a>      </div>
  </div>
  <div class="tmall-ft">
    <div id="J_TmallOpt" class="tmall-opt">
      <a href="javascript:;" class="J_Prev prev">
        <i class="s-prev"></i>
      </a>
      <a href="javascript:;" class="J_Next next">
        <i class="s-next"></i>
      </a>
    </div>
    <ul class="tmall-nav"></ul>
  </div>
  <s class="fpicon s-tmall-logo"></s>
</div>        </div>
      </div>
      <div class="main-c">
        <div class="main-c-wrap">
          <div class="main-c-hd" data-spm="1997520633">
              <a id="tanx-a-mm_33231655_8000000_22196529" class="hide J_TanxAd"></a>          </div>
          <div class="main-c-ft" data-spm="1997520661">
            <a id="tanx-a-mm_12852562_1778064_22160926" class="hide J_TanxAd"></a>          </div>
        </div>
      </div>
      <div id="J_HdMainR" class="main-r">
        <div class="main-r-bd">
          <div id="J_Notice" class="notice">
  <div class="notice-hd" data-spm="1997557785">
    <ul>
      <li class="selected">
        <a href="//bbs.taobao.com/catalog/438501.htm">公告</a>
      </li>
      <li>
        <a href="//rule.taobao.com/index.htm">规则</a>
      </li>
      <li>
        <a href="//bbs.taobao.com">论坛</a>
      </li>
      <li>
        <a href="//110.taobao.com/home/index.htm">安全</a>
      </li>
      <li>
        <a href="//gongyi.taobao.com">公益</a>
      </li>
    </ul>
  </div>
  <div class="notice-bd">
    <div class="mod J_NoticeMod loading" data-spm="1997558069">
    </div>
    <div class="mod" data-id="rule-jsonp" data-callback="RULE" data-spm="1997558077"></div>
    <div class="mod" data-id="bbs-jsonp" data-callback="BBS" data-spm="1997558081"></div>
    <div class="mod" data-id="guarantee-jsonp" data-callback="GUARANTEE" data-spm="1997558085"></div>
    <div class="mod" data-id="public-jsonp" data-callback="PUBLIC" data-spm="1997558093"></div>
  </div>
</div>          <div id="J_Member" class="member" data-spm="1997520761">
  <div class="member-bd">
    <a id="J_MemberHome" href="javascript:;" target="_self">
      <img id="J_MemberAvatar" class="s-user-head" src="//g.alicdn.com/s.gif">
       Hi! <strong id="J_MemberNick">你好</strong>
    </a>
    <a id="J_MemberVip" tabindex="-1" class="vip-icon" href="javascript:;" target="_self"></a>
    <p>
      <a id="J_MemberPunch" data-spm="d6" href="//login.taobao.com/member/login.jhtml?redirectURL=http://taojinbi.taobao.com/vip_home.htm" class="btn-punch"><i class="s-money"></i>领淘金币抵钱</a>
      <a id="J_MemberClub" href="//vip.taobao.com">会员俱乐部</a>
    </p>
  </div>
  <div class="member-ft">
    <div id="J_MemberLogout" class="member-logout">
      <a href="//login.taobao.com/member/login.jhtml?f=top&redirectURL=http%3A%2F%2Fwww.taobao.com%2F" class="btn-login"><i class="tb-fp-iconfont">&#xe610;</i>登录</a>
      <a href="//reg.taobao.com/member/new_register.jhtml?from=index&ex_info=&ex_sign=">免费注册</a>
      <a href="//mai.taobao.com/welcome.htm">免费开店</a>
    </div>
    <div id="J_MemberLogin" class="member-login"></div>
  </div>
</div>          <div class="conve" id="J_conve" data-spm="754893129">
    <div class="conve-hd">
        <h3 class="s-conve-header">便民服务</h3>

        <span class="conve-hd-p">
            杭州
            <span class="conve-hd-arrow">
                <span class="conve-hd-arrow-i">
                  <em></em>
                  <span></span>
              </span>
            </span>
        </span>
    </div>

    <div class="conve-bd">
      <div class="conve-bd-wrap">
         <div class="conve-bd-inner" id="J_conveBd">
           <a href="//wt.taobao.com/?ks-menu=cz" class="mod J_mod" data-name="phone">
             <i class="tb-fp-iconfont">&#xe60c;</i>
             <p>话费</p>
             <span class="mod-arrow">
               <em></em>
               <span></span>
             </span>
           </a>
           <a href="//game.taobao.com" class="mod J_mod" data-name="game">
               <i class="tb-fp-iconfont">&#xe601;</i>
               <p>游戏</p>
               <span class="mod-arrow">
                 <em></em>
                 <span></span>
               </span>
           </a>
           <a href="//trip.taobao.com" class="mod J_mod" data-name="trip">
               <i class="tb-fp-iconfont">&#xe60b;</i>
               <p>旅行</p>
               <span class="mod-arrow">
                 <em></em>
                 <span></span>
               </span>
           </a>
           
           <a href=" //baoxian.taobao.com/" class="mod J_mod" data-name="baoxian">
               <i class="tb-fp-iconfont">&#xe60a;</i>
               <p>保险</p>
               <span class="mod-arrow">
                 <em></em>
                 <span></span>
               </span>
           </a>
               
            <a href="//caipiao.taobao.com/?t=1&ad_id=&am_id=13010663204b41fb5276&cm_id=&pm_id=" class="mod J_mod">
               <i class="tb-fp-iconfont">&#xe609;</i>
               <p>彩票</p>
           </a>
               
            <a href="//dianying.taobao.com" class="mod J_mod">
               <i class="tb-fp-iconfont">&#xe61d;</i>
               <p>电影票</p>
           </a>
               
            <a href="//waimai.taobao.com/shop_list.htm" class="mod J_mod">
               <i class="tb-fp-iconfont">&#xe608;</i>
               点外卖
           </a>
               
           <a href="//zhaocaibao.alipay.com/pf/productList.htm" class="mod J_mod" data-spm-click="gostr=/tbindex;locaid=d8;name=蚂蚁金服招财宝首页">
               <i class="tb-fp-iconfont">&#xe607;</i>
               理财
           </a>
               
           <a href="//life.taobao.com/" class="mod J_mod">
               <i class="tb-fp-iconfont">&#xe61e;</i>
               找服务
           </a>
               
           <a href="//music.taobao.com?from=taobaohomepage" class="mod J_mod">
               <i class="tb-fp-iconfont">&#xe60f;</i>
               音乐
           </a>
               
          <a href="//life.taobao.com/market/sdmjf2011.php" class="mod J_mod">
               <i class="tb-fp-iconfont">&#xe60e;</i>
               水电煤
           </a>
               
            <a href="//trip.taobao.com/market/trip/train-home2014.php" class="mod J_mod">
               <i class="tb-fp-iconfont">&#xe61c;</i>
               火车票
           </a>
          </div>
         </div>
    </div>
    
</div>



        </div>
      </div>
    </div>
  </div>
  <div class="side service-side">
    <div class="tb-service">
  <h2><s class="fpicon s-service-head">淘宝特色服务</s></h2>
  <dl class="service-bd">
  
      
                   <dt><s class="fpicon s-service-theme"></s>主题市场</dt>
               
      
          <dd data-spm="1997517385" >
      
    
                            <a href="http://nvren.taobao.com/?spm=1.7275165.a214d7z.1" data-spm="d2" class="">淘宝女人  </a>            
                             <a href="http://www.taobao.com/market/sport/citiao/yundongpai.php?spm=1.7275165.a214d7z.2" data-spm="d12" class=" c-2 ">运动派  </a>            
                             <a href="http://taotelaisi.taobao.com/?spm=1.7275165.a214d7z.3" data-spm="d3" class=" c-4 ">特卖  </a>            
                             <a href="http://nanren.taobao.com/?spm=1.7275165.a214d7z.4" data-spm="d1" class="">淘宝男人  </a>            
                             <a href="http://www.taobao.com/market/baobao/2014/index.php?spm=1.7275165.a214d7z.5" data-spm="d5" class=" c-2 ">孕婴童  </a>            
                             <a href="http://www.taobao.com/market/home/2014/index.php?spm=1.7275165.a214d7z.6" data-spm="d18" class=" c-3 ">家居  </a>            
                             <a href="http://www.taobao.com/market/mei/index.php?spm=1.7275165.a214d7z.7" data-spm="d10" class="">美容护肤  </a>            
                             <a href="http://zln.taobao.com/?spm=1.7275165.a214d7z.8" data-spm="d6" class=" c-2 ">中老年  </a>            
                             <a href="http://chi.taobao.com/?spm=1.7275165.a214d7z.9" data-spm="d14" class=" c-3 ">美食  </a>            
                             <a href="http://zhiyou.taobao.com/?spm=1.7275165.a214d7z.10" data-spm="d4" class="">海外直邮<i class="gif-hot" ></i>  </a>            
                             <a href="http://www.taobao.com/market/car/index.php?spm=1.7275165.a214d7z.11" data-spm="d17" class=" c-2 ">有车族  </a>            
                             <a href="http://www.taobao.com/market/youjia/index_v2.php?spm=1.7275165.a214d7z.12" data-spm="d19" class=" c-3 ">装修  </a>            
                             <a href="http://www.taobao.com/market/3c/home.php?spm=1.7275165.a214d7z.13" data-spm="d8" class="">手机数码  </a>            
                             <a href="http://shenghuo.taobao.com/?spm=1.7275165.a214d7z.14" data-spm="d20" class=" c-2 ">生活家  </a>            
                             <a href="http://game.taobao.com/?spm=1.7275165.a214d7z.15" data-spm="d13" class=" c-3 ">游戏  </a>            
                   
      </dd>       
  
      
                   <dt><s class="fpicon s-service-special"></s>特色购物</dt>
               
      
          <dd data-spm="1997517389" >
      
    
                            <a href="http://2.taobao.com/?spm=1.7275165.a214d7z.16" data-spm="d1" class="">淘宝二手  </a>            
                             <a href="http://paimai.taobao.com/?spm=1.7275165.a214d7z.17" data-spm="d3" class=" c-2 ">拍卖会  </a>            
                             <a href="http://guang.taobao.com/?spm=1.7275165.a214d7z.18" data-spm="d14" class=" c-3 c-3-3 ">爱逛街  </a>            
                             <a href="http://tese.taobao.com/?spm=1.7275165.a214d7z.19" data-spm="d7" class="">淘宝奇葩  </a>            
                             <a href="http://g.taobao.com/?spm=1.7275165.a214d7z.20" data-spm="d2" class=" c-2 ">全球购  </a>            
                             <a href="http://tiaoshi.chi.taobao.com/?spm=1.7275165.a214d7z.21" data-spm="d6" class=" c-3 ">挑食  </a>            
                             <a href="http://xue.taobao.com/?spm=1.7275165.a214d7z.22" data-spm="d11" class="">淘宝同学  </a>            
                             <a href="http://mm.taobao.com/?spm=1.7275165.a214d7z.23" data-spm="d5" class=" c-2 ">淘女郎  </a>            
                             <a href="http://star.taobao.com/?spm=1.7275165.a214d7z.24" data-spm="d9" class=" c-3 ">星店  </a>            
                             <a href="http://hi.taobao.com/?spm=1.7275165.a214d7z.25" data-spm="d10" class=" c-7 ">淘宝众筹  </a>            
                             <a href="http://big.taobao.com/big/index.html?spm=1.7275165.a214d7z.26" data-spm="d22" class=" c-4 ">B格  </a>            
                             <a href="http://acg.taobao.com/?spm=1.7275165.a214d7z.27" data-spm="d8" class=" c-4 ">动漫  </a>            
                             <a href="http://style.taobao.com/?spm=1.7275165.a214d7z.28" data-spm="d18" class=" c-3 ">腔调  </a>            
                             <a href="http://life.taobao.com/?spm=1.7275165.a214d7z.29" data-spm="d19" class=" c-2 ">生活服务  </a>            
                             <a href="http://daren.taobao.com/?spm=1.7275165.a214d7z.30" data-spm="d16" class=" c-2 ">淘宝达人  </a>            
                             <a href="http://dapei.taobao.com/?spm=1.7275165.a214d7z.31" data-spm="d15" class=" c-3 ">逛搭配  </a>            
                   
      </dd>       
  
      
                   <dt><s class="fpicon s-service-favourable"></s>优惠促销</dt>
               
      
          <dd data-spm="1997517393" >
      
    
                            <a href="http://tejia.taobao.com/?spm=1.7275165.a214d7z.32" data-spm="d1" class="">天天特价  </a>            
                             <a href="http://try.taobao.com/?spm=1.7275165.a214d7z.33" data-spm="d2" class=" c-2 ">免费试用  </a>            
                             <a href="http://qing.taobao.com/?spm=1.7275165.a214d7z.34" data-spm="d3" class=" c-3 ">清仓  </a>            
                             <a href="http://qiang.taobao.com/?spm=1.7275165.a214d7z.35" data-spm="d5" class="">一元起拍  </a>            
                             <a href="http://taojinbi.taobao.com/?spm=1.7275165.a214d7z.36" data-spm="d4" class=" c-2 ">淘金币  </a>            
                             <a href="http://ye.taobao.com/?spm=1.7275165.a214d7z.37" data-spm="d6" class=" c-3 ">夜抢购  </a>            
                   
      </dd>       
  
      
                   <dt><s class="fpicon s-service-tool"></s>工具</dt>
               
      
          <dd data-spm="1997520369"  class="last-dd" >
      
    
                            <a href="http://wangwang.taobao.com/?spm=1.7275165.a214d7z.38" data-spm="d1" class=" c-7 ">阿里旺旺  </a>            
                             <a href="https://www.alipay.com/" data-spm="d2" class=" c-8 ">支付宝  </a>            
                             <a href="http://www.laiwang.com/" data-spm="d3" class=" c-4 ">来往  </a>            
                             <a href="http://browser.taobao.com/ops/index.htm?spm=1.7275165.a214d7z.40" data-spm="d4" class=" c-9 ">UC  </a>            
                   
      </dd>       
  
  </dl>
  <a class="more more-with-border J_CatMore" href="#hot-point" target="_self">更多<i><em></em><span></span></i></a>
</div>  </div>
</div>
<div class="hot-point" id="hot-point">
    
    
      <div class="hot-point-title" >
        <h4>当前热点</h4><div class="arrow"><em></em><span></span></div></div>
    
    
      <div class="hot-point-content point0" data-spm="1997520797">
    
    
            <a href="http://www.taobao.com/market/nvzhuang/qiang.php?spm=1.7275253.a214d81.1" data-spm="d1">春夏上新  <i class="gif-new"></i></a>
            <a href="http://xue.taobao.com/market/xue/jujuepang.php?spm=1.7275253.a214d81.2" data-spm="d2">瘦身秘技  </a>
            <a href="http://www.taobao.com/market/baihuo/zlsn.php?spm=1.7275253.a214d81.3" data-spm="d3">换季收纳  </a>
            <a href="http://www.taobao.com/market/dapei/apriloutdoors.php?spm=1.7275253.a214d81.4&ad_id=&am_id=130131213919c0189611&cm_id=&pm_id=" data-spm="d4">潮流美搭  </a>
            <a href="http://zhiyou.taobao.com/market/zhiyou/sxqd.php?spm=1.7275253.a214d81.5" data-spm="d5">1元雅漾 <i class="gif-hot"></i> </a>
            <a href="http://temai.alitrip.com/" data-spm="d6">旅行特卖  </a>
            </div>
    
    
    
      <div class="hot-point-title" >
        <h4>精彩推荐</h4><div class="arrow"><em></em><span></span></div></div>
    
    
      <div class="hot-point-content point1" data-spm="1997520805">
    
    
            <a href="http://fang.taobao.com/?spm=1.7275253.a214d81.7" data-spm="d1">租房买房  </a>
            <a href="http://miiee.taobao.com/?spm=1.7275253.a214d81.8" data-spm="d2">闺蜜淘货  </a>
            <a href="http://www.tmall.hk" data-spm="d3">天猫国际  </a>
            <a href="http://www.tmall.com/go/market/promotion-act/shanghaichezhan-pc.php?spm=1.7275253.a214d81.10" data-spm="d4">新车首发  </a>
            <a href="https://financeprod.alipay.com/fund/index.htm" data-spm="d5">余额宝  </a>
            <a href="http://ju.taobao.com/jusp/ss/tp.htm?spm=1.7275253.a214d81.11" data-spm="d6">大牌捡宝  <i class="gif-new"></i></a>
            </div>
    
    
    
      <div class="hot-point-title" data-spm="1997520807">
        <a href="http://paimai.taobao.com/?spm=1.7275253.a214d81.12"><h4>拍卖专区</h4></a> <div class="arrow"><em></em><span></span></div></div>
    
    
      <div class="hot-point-content point2" data-spm="1997521216">
    
    
            <a href="http://www.taobao.com/go/market/paimai/nvren.php?spm=1.7275253.a214d81.13" data-spm="d1">奢品玉翠  </a>
            <a href="http://www.taobao.com/market/paimai/paimai_ysp.php?spm=1.7275253.a214d81.14" data-spm="d2">艺术品  </a>
            <a href="http://zc.paimai.taobao.com/?spm=1.7275253.a214d81.15" data-spm="d3">资产甩卖  </a>
            <a href="http://www.taobao.com/market/paimai/paimai_cf.php?spm=1.7275253.a214d81.16" data-spm="d4">拍车房  </a>
            </div>
    
    
  <div class="hot-point-banner hot-small-border" data-spm="1997520809"><div class="cat-gg J_TBDP J_DP_20140506003"></div></div>
  <div class="hot-point-banner w990-hidden" data-spm="1997520813"><div class="cat-gg J_TBDP J_DP_20140506004"></div></div>
</div><div class="screen-bd row-full">
  <div id="J_BdMain" class="main loading">
  </div>
  <div class="J_CatTanxAd hidden"><a id="tanx-a-mm_12852562_1778064_23036232" class="hide J_lazy_TanxAd J_TanxAd"></a></div>
  <div id="J_BdSide" class="side">
    <dl class="discover">
    <dt><s class="fpicon s-good-goods">发现好货</s></dt>
    <dd id="J_DiscoverGoods" class="content-wrapper loading goods-content" data-spm="1997522421"></dd>
    <dd class="change-wrapper J_ChangeDiscover"><s class="fpicon s-change-gray"></s>换一批试试</dd>

    <dt class="lu-dt J_Lu"  data-spm="701"><a href="//lu.taobao.com/newMyPath.htm"   data-spm="d1"><s class="fpicon s-lu">我的足迹</s></a><span>最近浏览宝贝</span></dt>
    <dd id="J_LuList" class="content-wrapper lu-wrapper loading J_Lu" data-spm="701"></dd>
    <dd class="change-wrapper J_Lu lu-more"  data-spm="701"><a href="//lu.taobao.com/newMyPath.htm" data-spm="d10">更多足迹</a></dd>

    <dt class="shop-dt"><s class="fpicon s-good-shop">发现好店</s></dt>
    <dd id="J_DiscoverShop" class="content-wrapper shop-content loading" data-spm="1997522429"></dd>
    <dd class="change-wrapper J_ChangeDiscover"><s class="fpicon s-change-gray"></s>换一批试试</dd>
</dl>

<div class="discover-gg" data-spm="1997522465">

  <a id="tanx-a-mm_12852562_1778064_10263209" class="hide J_lazy_TanxAd J_TanxAd"></a></div>  </div>
</div>
<!-- 底部频道：星店/全球购/拍卖汇/天天特价/淘女郎/淘宝旅行 -->
<div class="channel loading" id="J_Channel">

</div>
<div class="guang-wrapper" data-spm="654">
    <div class="row-hd"><a href="//guang.taobao.com/"><h3 class="s-guang-icon">爱逛街</h3></a></div>
    <div class="guang loading" id="J_Guang"></div>
</div>
<!-- 底部频道：汇吃/B格/二手/众筹 -->
<div class="channel2 loading" id="J_Channel2">
    <div class="channel-item channel-item2 channel-eat" id="J_ChannelEat" data-spm="1000"></div>
    <div class="channel-item channel-item2" id="J_Channel_big"></div>
    <div class="channel-item channel-secondhand" id="J_ChannelSecondHand" data-spm="1001"></div>
    <div class="channel-item" id="J_Channel_zhongchou" data-spm="1004"></div>
</div>
<div id="J_ScreenFt" class="screen-ft row">
  <div id="J_Sale" class="sale">
  <div class="sale-hd">
    <h3 class="s-sale">热卖单品</h3>
    <div id="J_SaleP4p" class="sale-p4p" data-spm="1997522865"></div>
  </div>
  <ul id="J_SaleBd" class="sale-bd loading"  data-use="tbc/p4p/1.2.1/index" data-title="46702465U84y78608587678s868v3I,46702465U84y78608587678s868v3I,0.5" data-pidpct="1" data-spm="1997522873"></ul>
<script>
typeof KISSY !== 'undefined' && KISSY.ready(function() {
  KISSY.getScript('//g.alicdn.com/mm/doctor/1.2.9/data.min.js');
})
</script></div>  <div class="gg" data-spm="1997522957">
    <div><a id="tanx-a-mm_12852562_1778064_10263233" class="hide J_lazy_TanxAd J_TanxAd"></a></div>
    <div><a id="tanx-a-mm_12852562_1778064_9087844" class="hide J_lazy_TanxAd J_TanxAd"></a></div>
    <div class="last-gg"><a id="tanx-a-mm_12852562_1778064_22160952" class="hide J_lazy_TanxAd J_TanxAd"></a></div>
  </div>
  <div id="J_Helper" class="helper"></div>
  <div id="J_Footer" class="footer"></div>
</div>
<!----><style>
  .inner-feedback{display:none;}
  @media screen and (-webkit-min-device-pixel-ratio:0){#J_DiscoverGoods{margin-bottom:-3px;}} 
  .cat-bd .cat-banner .cat-banner-image {background-position-x: right !important;}
  .hide-one-item {height:1317px !important;}
  .tb-service .service-bd dd .c-8 { width:44px;}
  .tb-service .service-bd dd .c-9 { width:20px;}
</style>  <script src="//g.alicdn.com/??tb/global/3.3.35/global-min.js,tb/tb-fp/20.0.5/deps-min.js?t=20150414" charset="utf-8"></script>
  <script>KISSY.use("fp/index-e");</script>
  <div id="J_Feedback" class="feedback">
  <a href="javascript:;" target="_self" id="J_GoTop" class="btn go-top" title="回到顶部"><span class="tb-fp-iconfont">&#xe612;</span><em>回到顶部</em></a>
  <a href="//ur.taobao.com/survey/view.htm?id=2546" class="btn" title="我要反馈"><span class="tb-fp-iconfont">&#xe611;</span><em>我要反馈</em></a>
</div>
<a id="tanx-a-mm_12852562_1778064_9118786" class="hide"></a>
<a id="tanx-a-mm_12852562_1778064_9118787" class="hide"></a>
<!-- 活动区块 --><input type="hidden" value="CAk3FAezoLo" id="J_Token"><input type="hidden" value="unknown" id="J_AliIntranet" ></div>
<div class="server_info" style="color: #FFF;">
</div>
</body>
</html>
<!-- home130.cn114, 2015/04/28 20:23:47, 61.152.150.145 -->